<div>
  <h2>GESTIONE TEMPLATE 2.0</h2>
</div>
<div>
  <tabset>
    <tab heading="Articoli" id="tab2" name="tab2">
      <template-articoli></template-articoli>
    </tab>
    <tab heading="Modelli" id="tab1" name="tab1">
      <template-modelli></template-modelli>
    </tab>
    <tab heading="Imputazioni" id="tab3" name="tab3">
      <template-imputazioni></template-imputazioni>
    </tab>
  </tabset>


</div>