<div class="row">
  <div class="col-md-10">
    <h1 class="page-title">
      Gestione Template
    </h1>
  </div>
  <div class="form-group col-md-2">
    <dropdown (cambioSocieta)="getSocieta($event)" [bordi]="false" [isFiltroTemplate]="true" [config]="confSocieta"></dropdown>
  </div>
</div>


<div class="widget-container">
  <div>
    <tabset>
      <tab heading="Modelli" id="tab1" name="tab1">

        <div class="container-fluid">
          <accordion>
            <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">

              <div id="formTemplateModelli" class="container-fluid collapse show">
                <div class="row">
                  <div class="form-group col-md">
                    <dropdown [isFiltroTemplate]="true" [config]="confAnnoStagione"></dropdown>
                  </div>
                  <div class="form-group col-md">
                    <autocompleta [config]="confClasse" [isFiltroTemplate]="true" [required]="true" [valore]="classe"
                      (aggiornaValore)="getClasse($event)"></autocompleta>
                  </div>
                  <div class="form-group col-md">
                    <dropdown [isFiltroTemplate]="true" [config]="confSegmentiModelli"></dropdown>
                  </div>
                  <div class="form-group col-md">
                    <dropdown [config]="confTipoProva"></dropdown>
                  </div>
                </div>
                <br>
                <div class="container-fluid">
                  <button [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right"
                    [class.btn-primary]="attivaBtnCerca" [class.btn-secondary]="!attivaBtnCerca" (click)="ricercaTemplateModelli()">
                    <b>CERCA</b>
                  </button>
                </div>
              </div>
            </accordion-group>
          </accordion>

          <br>
          <br>
          <br>


          <div class="container-fluid" id="tabelle" [hidden]="arrayModelli.length == 0">
            <h4>Template modelli</h4>
            <br>
            <a id="svuotaTemplateModelli" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateModelli()">Svuota</a>
            <a id="salvaTemplateModelli" class="btn btn-success text-light btn-md col-md-2">Salva</a>
            <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveModelli" (keyup)="filtraProveModelli()"
              type="text" placeholder="Filtra..">

            <br>
            <br>
            <br>

            <div class="row">
              <div class="table col-md-6">
                <table class="table" id="tabTemplateModelli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <caption>
                    <b>Template Modelli: #ID</b>
                  </caption>
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="zoom shadow" id="1xx" draggable="true" [dndEffectAllowed]="draggable.effectAllowed"
                      [dndDraggable]="true" (dndStart)="onDragStart($event)">
                      <td>Test acqua</td>
                      <td>Apnea</td>
                    </tr>
                    <tr class="zoom shadow" id="2" draggable="true" [dndEffectAllowed]="draggable.effectAllowed"
                      [dndDraggable]="true" (dndStart)="onDragStart($event)">
                      <td>Test resistenza</td>
                      <td>Descrizione</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table col-md-6">
                <table class="table" id="tabProveModelli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let e of array" id="{{e.id}}" [dndEffectAllowed]="draggable.effectAllowed" class="zoom shadow"
                      draggable="true" [dndDraggable]="true" (dndStart)="onDragStart($event)">
                      <td>{{e.nome_prova}}</td>
                      <td>{{e.descrizione}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </tab>


      <tab heading="Articoli" id="tab2" name="tab2">
        <div class="container-fluid">
          <accordion>
            <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">
              <div id="formTemplateArticoli" class="container-fluid collapse show">
                <div class="row">
                  <div class="form-group col-md">
                    <dropdown [isFiltroTemplate]="true" [config]="confAnnoStagione"></dropdown>
                  </div>
                  <div class="form-group col-md">
                    <dropdown [isFiltroTemplate]="true" [config]="confSegmentiArticoli"></dropdown>
                  </div>
                  <div class="form-group col-md">
                    <autocompleta (aggiornaValore)="getGm($event)" [isFiltroTemplate]="true" [required]="true" [valore]="gm"
                      [config]="confGM"></autocompleta>
                  </div>
                  <div class="form-group col-md">
                    <dropdown [config]="confTipoProva"></dropdown>
                  </div>
                </div>
                <br>
                <div class="container-fluid">
                  <button [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right"
                    [class.btn-primary]="attivaBtnCerca" [class.btn-secondary]="!attivaBtnCerca" (click)="ricercaTemplateArticoli()">
                    <b>CERCA</b>
                  </button>
                </div>

              </div>
            </accordion-group>
          </accordion>
          <br>
          <br>
          <br>

          <div class="container-fluid" id="tabelle" [hidden]="arrayArticoli.length == 0">

            <a id="svuotaTemplateArticoli" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateArticoli()">Svuota</a>
            <a id="salvaTemplateArticoli" class="btn btn-success text-light btn-md col-md-2">Salva</a>
            <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveArticoli" (keyup)="filtraProveArticoli()"
              type="text" placeholder="Filtra..">

            <br>
            <br>
            <br>

            <div class="row">
              <div class="table col-md-6">
                <table class="table" id="tabTemplateArticoli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <caption>
                    <b>Template Articoli: #ID</b>
                  </caption>
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="table col-md-6">
                <table class="table" id="tabProveArticoli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Imputazioni" id="tab3" name="tab3">
        <div class="container-fluid">
          <accordion>
            <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">
              <div id="formTemplateImputazioni" class="container-fluid collapse show">
                <div class="row">
                  <div class="form-group col-md-12">
                    <div *ngIf="isError" class="alert alert-danger" role="alert">
                      <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                    <autocompleta-imputazioni (aggiornaGruppo)="getGruppo($event)" [isFiltroTemplate]="true" [required]="true"
                      [config]="confImputazione"></autocompleta-imputazioni>
                  </div>
                </div>
                <br>
                <div class="container-fluid">
                  <button (click)="ricercaTemplateImputazioni()" [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right"
                    [class.btn-primary]="attivaBtnCerca" [class.btn-secondary]="!attivaBtnCerca">
                    <b>CERCA</b>
                  </button>
                </div>
              </div>
              <br>
              <br>

            </accordion-group>
          </accordion>
          <br>
          <br>
          <br>
          <pre class="card card-block card-header">{{message}}</pre>
          <ng-template #template>
            <div class="modal-body text-center">
              <p>Sei sicuro di voler salvare?</p>
              <button type="button" class="btn btn-success" (click)="confermaSalvataggio()">SI</button>
              <button type="button" class="btn btn-danger" (click)="annullaSalvataggio()">NO</button>
            </div>
          </ng-template>
          <div class="container-fluid" id="tabelle" [hidden]="arrayImputazioni.length == 0">
            <h3>Template Imputazioni <span class="badge badge-pill badge-info">{{gruppo}}</span></h3>
            <br>
            <a id="svuotaTemplateImputazioni" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateImputazioni()">Svuota</a>
            <a id="salvaTemplateImputazioni" class="btn btn-success text-light btn-md col-md-2" (click)="openModal(template)">Salva</a>
            <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveImputazioni" (keyup)="filtraProveImputazioni()"
              type="text" placeholder="Filtra..">

            <br>
            <br>
            <br>

            <div class="row">
              <div class="table col-md-6">
                <table class="table" id="tabTemplateImputazioni" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="table col-md-6">
                <table class="table" id="tabProveImputazioni" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Descrizione</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>