@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.zoom {        
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    cursor: grab;
}


.tocca:hover {
    cursor: pointer;    
}



.zoom:hover {    
    transform: scale(1.05);
    background-color:white;
    box-shadow: grey 2px 2px;
    
}

    
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;    
    border: 3px solid #ccc;
    border-top: none;
}

#salva {
    margin-top: 2px;
    margin-bottom: 2px;
}

#svuota {
    margin-top: 2px;
    margin-bottom: 2px;
}

a.btn {
    color: white !important;    
}

a.ricerca {
    font-weight: bold !important;
    font-size: larger !important;
}

thead {
    background-color: rgb(221, 221, 221) !important;
}
tbody {
    background-color: rgb(245, 245, 245) !important;
}
.modifica{
    background-color: rgb(201,239,208);
}