a.btn {
    color: white !important;
    font-weight: 400 !important;
}

.filtroTemplate {    
    box-shadow: 0px 0px 10px #f0795a;
}

.valido {
    box-shadow: 0px 0px 10px #83c521;
}

.societa{
    background-color: rgb(253, 188, 77) !important;    
}