<div class="container-fluid">
  <accordion>
    <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">
      <div id="formTemplateImputazioni" class="container-fluid collapse show">
        <div class="row">
          <div class="form-group col-md-12">
            <div *ngIf="isError" class="alert alert-danger" role="alert">
              <strong>Oh snap!</strong> Change a few things up and try submitting again.
            </div>
            <autocompleta-imputazioni (aggiornaGruppo)="getGruppo($event)" [isFiltroTemplate]="true" [required]="true"
              [config]="confImputazione"></autocompleta-imputazioni>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <button (click)="ricercaTemplateImputazioni()" [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right"
            [class.btn-primary]="attivaBtnCerca" [class.btn-secondary]="!attivaBtnCerca">
            <b>CERCA</b>
          </button>
        </div>
      </div>
      <br>
      <br>

    </accordion-group>
  </accordion>
  <br>
  <br>
  <br>
  <!--
  <pre class="card card-block card-header">{{message}}</pre>
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Sei sicuro di voler salvare?</p>
      <button type="button" class="btn btn-success" (click)="confermaSalvataggio()">SI</button>
      <button type="button" class="btn btn-danger" (click)="annullaSalvataggio()">NO</button>
    </div>
  </ng-template>
  <div class="container-fluid" id="tabelle" [hidden]="arrayImputazioni.length == 0">
    <h3>Template Imputazioni <span class="badge badge-pill badge-info">{{gruppo}}</span></h3>
    <br>
    <a id="svuotaTemplateImputazioni" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateImputazioni()">Svuota</a>
    <a id="salvaTemplateImputazioni" class="btn btn-success text-light btn-md col-md-2" (click)="openModal(template)">Salva</a>
    <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveImputazioni" (keyup)="filtraProveImputazioni()" type="text" placeholder="Filtra..">

    <br>
    <br>
    <br>

    <div class="row">
      <div class="table col-md-6">
        <table class="table" id="tabTemplateImputazioni" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="table col-md-6">
        <table class="table" id="tabProveImputazioni" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
-->