<div class="container-fluid">
  <accordion>
    <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">

      <div id="formTemplateModelli" class="container-fluid collapse show">
        <div class="row">
          <div class="form-group col-md">
            <dropdown [isFiltroTemplate]="true" [config]="confAnnoStagione"></dropdown>
          </div>
          <div class="form-group col-md">
            <autocompleta [config]="confClasse" [isFiltroTemplate]="true" [required]="true" [valore]="classe"
              (aggiornaValore)="getClasse($event)"></autocompleta>
          </div>
          <div class="form-group col-md">
            <dropdown [isFiltroTemplate]="true" [config]="confSegmentiModelli"></dropdown>
          </div>
          <div class="form-group col-md">
            <dropdown [config]="confTipoProva"></dropdown>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <button [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right" [class.btn-primary]="attivaBtnCerca"
            [class.btn-secondary]="!attivaBtnCerca" (click)="ricercaTemplateModelli()">
            <b>CERCA</b>
          </button>
        </div>
      </div>
    </accordion-group>
  </accordion>

  <br>
  <br>
  <br>
</div>
<!--

  <div class="container-fluid" id="tabelle" [hidden]="arrayModelli.length == 0">
    <h4>Template modelli</h4>
    <br>
    <a id="svuotaTemplateModelli" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateModelli()">Svuota</a>
    <a id="salvaTemplateModelli" class="btn btn-success text-light btn-md col-md-2">Salva</a>
    <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveModelli" (keyup)="filtraProveModelli()"
      type="text" placeholder="Filtra..">

    <br>
    <br>
    <br>

    <div class="row">
      <div class="table col-md-6">
        <table class="table" id="tabTemplateModelli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <caption>
            <b>Template Modelli: #ID</b>
          </caption>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
            <tr class="zoom shadow" id="1xx" draggable="true" [dndEffectAllowed]="draggable.effectAllowed"
              [dndDraggable]="true" (dndStart)="onDragStart($event)">
              <td>Test acqua</td>
              <td>Apnea</td>
            </tr>
            <tr class="zoom shadow" id="2" draggable="true" [dndEffectAllowed]="draggable.effectAllowed" [dndDraggable]="true"
              (dndStart)="onDragStart($event)">
              <td>Test resistenza</td>
              <td>Descrizione</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table col-md-6">
        <table class="table" id="tabProveModelli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of array" id="{{e.id}}" [dndEffectAllowed]="draggable.effectAllowed" class="zoom shadow"
              draggable="true" [dndDraggable]="true" (dndStart)="onDragStart($event)">
              <td>{{e.nome_prova}}</td>
              <td>{{e.descrizione}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
-->