<ul class="navbar-nav flex-row" (click)="$event.preventDefault()">
  <li class="nav-item">
    <ng-template #sidebarToggleTooltip>
      Turn on/off <br> sidebar <br>collapsing
    </ng-template>
    <!-- whether to automatically collapse sidebar on mouseleave. If activated acts more like usual admin templates -->
    <a (click)="toggleSidebar('static')"  class="nav-link d-none ml-3 d-lg-flex" [tooltip]="sidebarToggleTooltip"
      placement="bottom">
      <i class="fa fa-bars fa-lg"></i>
    </a>
    <!-- shown on xs & sm screen. collapses and expands navigation -->
    <a (click)="toggleSidebar('collapse')" class="d-lg-none nav-link" href="#" data-html="true" title="Show/hide<br>sidebar" data-placement="bottom">
      <span class="rounded rounded-lg bg-gray text-white d-md-none"><i class="fa fa-bars fa-lg"></i></span>
      <i class="ml-3 fa fa-bars fa-lg d-none d-md-block d-lg-none"></i>
    </a>
  </li>

</ul>
<ul class="navbar-nav flex-row d-md-none">
  <li class="nav-item">
    <!-- toggles chat -->
    <a class="nav-link" href="#" (click)="toggleChat()">
      <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
    </a>
  </li>
</ul>
<a class="navbar-brand d-md-none" [routerLink]=" ['/app/dashboard'] ">
  <i class="fa fa-circle fa-sm text-gray mr-n-sm"></i>
  <i class="fa fa-circle fa-sm text-warning"></i>
  &nbsp;
  {{config.name}}
  &nbsp;
  <i class="fa fa-circle fa-sm text-warning mr-n-sm"></i>
  <i class="fa fa-circle fa-sm text-gray"></i>
</a>

<ul class="navbar-nav mr-3 d-none d-md-flex flex-row" (click)="$event.preventDefault()">
    <li class="nav-item" placement="bottom right" >
      
        Philip&nbsp;<strong>Smith</strong>&nbsp;

    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a href="#" class="nav-link dropdown-toggle" dropdownToggle>
        <i class="fa fa-cog fa-lg"></i>
      </a>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
        <li><a class="dropdown-item" href="#"><i class="glyphicon glyphicon-user"></i> &nbsp; My Account</a></li>
        <li class="dropdown-divider"></li>
        <li><a class="dropdown-item" [routerLink]=" ['/login'] "><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
      </ul>
    </li>

  </ul>
