<div class="container-fluid">
  <accordion>
    <accordion-group class="tocca" style="user-select: none;" heading="Nascondi/mostra" [isOpen]="true">
      <div id="formTemplateArticoli" class="container-fluid collapse show">
        <div class="row">
          <div class="form-group col-md">
            <dropdown [isFiltroTemplate]="true" [config]="confAnnoStagione"></dropdown>
          </div>
          <div class="form-group col-md">
            <dropdown [isFiltroTemplate]="true" [config]="confSegmentiArticoli"></dropdown>
          </div>
          <div class="form-group col-md">
            <autocompleta (aggiornaValore)="getGm($event)" [isFiltroTemplate]="true" [required]="true" [valore]="gm"
              [config]="confGM"></autocompleta>
          </div>
          <div class="form-group col-md">
            <dropdown [config]="confTipoProva"></dropdown>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <button [disabled]="false && !societa" class="btn btn-lg col-md-2 ricerca float-right" [class.btn-primary]="attivaBtnCerca"
            [class.btn-secondary]="!attivaBtnCerca" (click)="ricercaTemplateArticoli()">
            <b>CERCA</b>
          </button>
        </div>

      </div>
    </accordion-group>
  </accordion>
  <br>
  <br>
  <br>


  <div class="container-fluid" id="tabelle" [hidden]="arrayArticoli.length == 0">
    <a id="svuotaTemplateArticoli" class="btn btn-danger text-light btn-md col-md-2" (click)="svuotaTemplateArticoli()">Svuota</a>
    <a id="salvaTemplateArticoli" class="btn btn-success text-light btn-md col-md-2">Salva</a>
    <input class="form-control d-none d-md-block col-md-3 float-right" id="filtroProveArticoli" (keyup)="filtraProveArticoli()"
      type="text" placeholder="Filtra..">

    <br>
    <br>
    <br>

    <div class="row">
      <div class="table col-md-6">
        <table class="table" id="tabProveArticoli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
            <tr *ngFor="let prova of this.arrayArticoli">
              <td>{{ prova.id }}</td>
              <td>{{ prova.nome_prova }}</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="table col-md-6">
        <table class="table" id="tabTemplateArticoli" dndDropzone (dndDrop)="onDrop($event)" (dndDragover)="onDragover($event)">
          <caption [hidden]="templateArticoli.length == 0">
            <b>Template Articoli: #{{ idTemplate }}</b>
          </caption>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Descrizione</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>